<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Foot Ball</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<div class="container" style="min-height: 500px">

    <div class="starter-template">
        <h1>Foot Ball League</h1>
    	
    	<form class="form-horizontal" id="search-form">
            <div class="form-group">
                <label class="control-label">Get the List of Country Participated in the League</label>
                <button type="submit" id="bth-search"
                            class="btn btn-primary btn-lg">Get Country 
                    </button>
            </div>
        </form>
        
        <form class="form-horizontal" id="country-form">
             <div id="countryLabel"></div>
              <div id="country"></div>
        </form>
        
        <form class="form-horizontal" id="leaque-form">
              <div id="leaqueLabel"></div>
              <div id="leaque"></div>
        </form>
        
        <form class="form-horizontal" id="leaque-form">
              <div id="teams"></div>
        </form>
    </div>
</div>

<div>

        
        

</div>

<div class="container">
    <footer>
        <p>
            Developed By Siva
        </p>
    </footer>
</div>

<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="js/action.js"></script>

</body>
</html>